
button.analyze {
    display: block;
    width: 80%;
    margin: auto;
    font-size: 2.5rem;
    outline: none;
    margin-top: 1.5rem;
    background: #02305E;
    border: 4px ridge var(--league-gold);
    color: white;
}

.comparison-search {
    display: block;
    background: white;
    border: 2px solid grey;
    border-radius: 0.25rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    height: 2.5rem;
    outline: none;
    font-size: 1.5rem;
}