
.comparison-search {
    background: white;
    border: 2px solid grey;
    border-radius: 0.25rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0;
    margin-left: auto;
    width: 65%;
    height: 2.5rem;
    outline: none;
    font-size: 1.5rem;
}

#user-comparison-parent > .match-list {
    max-height: 20rem;
}

button#player-0-submit,
button#player-1-submit {
    color: var(--league-gold);
    border: 1px solid var(--league-gold);
    border-radius: 2px;
    outline: none;
    height: 2.5rem;
    width: 15%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: auto;
    vertical-align: middle;
}