/* We will be using 4 distinct screen sizes for media queries */
/* < 768 for mobile */
/* < 992 for tablet */
/* < 1200 for small desktop */
/* >= 1200 for desktop */

@font-face {
    font-family: 'Liberation-Sans';
    src: url('./Resources/Fonts/LiberationSans-Regular.ttf');
}

:root {
    --league-white: #F0E6D2;
    --league-blue: #010A13;
    --league-gold: #CBA655;
    --league-light-blue: #02305E;
    --league-medium-blue: #002447;
}

body {
    margin: 0;
    font-family: 'Liberation-Sans';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--league-blue);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root::-webkit-scrollbar {
    background: white;
    border: none;
}

:root::-webkit-scrollbar-track {
    background-color: var(--league-gold);
}

:root::-webkit-scrollbar-thumb {
    background-color: var(--league-light-blue);
    border-left: 0.15rem solid transparent;
    border-right: 0.15rem solid transparent;
    background-clip: padding-box;
}